/************* PagerView **************/
.PagerView {
    font-size: 12px;
    color: #333;
    text-align: right;
    padding: 8px;
    line-height: 100%;
    margin-top: 5px;
}

    .PagerView span {
        color: #999;
        margin: 0 4px;
        padding: 3px 8px;
        border: 1px solid #ccc;
        line-height: 25px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-box-shadow: 0 0px 3px #ccc;
    }

        .PagerView span.on {
            color: #fff;
            font-weight: bold;
            border: none;
            background: #5eb95e;
            border: 1px solid #5eb95e;
        }

    .PagerView a {
        color: #00f;
        text-decoration: none;
    }

        .PagerView a :hover {
            color: white;
            text-decoration: none;
            background: #5eb95e;
            border: 1px solid #5eb95e;
        }

        .PagerView a span {
            color: #000000;
            border: 1px solid #DDDDDD;
        }

.td_over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    cursor: pointer;
}
