@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SomeThing is error</title>
        <style id="style-1-cropbar-clipper">
            .en-markup-crop-options {
                top: 18px !important;
                left: 50% !important;
                margin-left: -100px !important;
                width: 200px !important;
                border: 2px rgba(255,255,255,.38) solid !important;
                border-radius: 4px !important;
            }

            .en-markup-crop-options div div:first-of-type {
                margin-left: 0px !important;
            }
        </style>
    </head>
    <body>
        <img src="@ViewBag.RootNode/Content/Images/404.jpg" style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;">
    </body>
</html>
