<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--数据库连接-->
  <add key="DbString" value="server=localhost;user id=root; password=qinxianbo;database=WeChatDB;Pooling=true"/>
  <!--测试数据库连接-->
  <add key="DbDual" value="select 1 from DUAL"/>
  <!--JS及CSS版本控制-->
  <add key="Ver" value="2011126045"/>
  <!--redis连接字符串-->
  <add key="RedisConnectionString" value="127.0.0.1:6379,password=ucss,DefaultDatabase=0"/>
  <!--虚拟根目录-->
  <add key="ReferenceKey.RootNode" value=""/>
  <!--敏感词文件-->
  <add key="SensitiveFilePath" value="App_Data\sensitive.txt"/>
  <!--图片格式-->
  <add key="headImageType" value=".png,.jpg,.gif,.jpeg"/>
  <!--图片大小限制-->
  <add key="imageMaxSize" value="2048000"/>
  <!--附件允许类型-->
  <add key="headOtherType" value=".rar,.zip,.txt,.tar,.gz"/>
  <!--附件大小限制，单位字节-->
  <add key="otherMaxSize" value="20480000"/>
  <!--文件存放路径-->
  <add key="imagePathFormat" value="/Uploadfile/ShareDetailImage/{yyyy}{mm}{dd}/{time}{rand:6}"/>
  <!--文件，图片访问前缀-->
  <add key="accessPre" value=""/>
</appSettings>
