
@{
    ViewBag.Title = "字典配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link href="@(ViewBag.RootNode)/Assets/css/PagerStyle.css" rel="stylesheet" type="text/css">
}
<div class="page-body">
    <div class="widget widget-body">
        <div class="panel panel-default">
            <form class="panel-body" action="" id="form1">
                <div class="form-inline control-left">
                    <label>
                        标签：
                        <input type="text" v-model="model.label" name="label"
                               id="label" placeholder="标签"
                               class="form-control input-sm" style="min-width: 150px; width: 155px;">
                    </label>
                    <label>
                        类型：
                        <select class="form-control input-sm" style="min-width: 130px"
                                name="type" v-model="model.type">
                            <option v-for="item in contentTypeNum" v-bind:value="item.Type">
                                {{item.Type}}
                            </option>
                        </select>
                    </label>
                    <button type="button" onclick="LoadingActivityResultDetailDate();"
                            class="btn btn-success" title="查询" value="查询">
                        查询<i class="fa fa-search"></i>
                    </button>
                    <button type="button" onclick="newContent(0);" class="btn btn-success" title="新增" value="新增">新增<i class="fa fa-plus"></i></button>
                </div>
            </form>
        </div>
        <div id="resultTable">
            <table class="table table-bordered  table-hover ">
                <thead class="flip-content bordered-palegreen">
                    <tr class="control-center">
                        <th>标签</th>
                        <th>值</th>
                        <th>类型</th>
                        <th>描述</th>
                        <th>创建时间</th>
                        <th>排序值</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="control-center" v-for="item of dataList">
                        <td>{{item.Lable}}</td>
                        <td>{{item.Value}}</td>
                        <td>{{item.Type}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item.CreateTime}}</td>
                        <td>{{item.Sort}}</td>
                        <td>{{item.Remarks}}</td>
                        <td>
                            <button type="button" v-on:click="vueEditContent(item.Id)"
                                    class="btn btn-success" title="编辑" value="编辑">
                                编辑<i class="fa fa-edit"></i>
                            </button>
                            <button type="button" v-on:click="vueDelContent(item.Id)"
                                    class="btn btn-danger" title="删除" value="删除">
                                删除<i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <div id="pager">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--当前页码-->
            <input type="hidden" id="currentPageIndex" value="1">
        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal" id="detailWindow" tabindex="100"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 0px;">
                <button type="button" class="close" data-dismiss="modal"
                        style="margin-right: 10px;">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h3 class="modal-title">编辑字典</h3>
            </div>
            <form id="acForm">
                <div class="modal-body form-horizontal"
                     style="padding: 0px; background-color: #fff; min-height: 350px;">
                    <div class="col-md-12" style="margin-top: 25px;">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典值：</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" type="text" v-model="model.Value" name="Value" class="form-control input-sm" placeholder="字典值" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典标签：</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" type="text" v-model="model.Lable" name="Lable" class="form-control input-sm" placeholder="字典标签" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典类型：</label>
                            <div class="col-sm-8">
                                <input autocomplete="off" type="text" v-model="model.Type" name="Type" class="form-control input-sm" placeholder="字典类型" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">字典描述：</label>
                            <div class="col-sm-8">
                                <input name="Description" id="Description" class="form-control input-sm"
                                       type="text" v-model="model.Description" placeholder="字典描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">父级字典：</label>
                            <div class="col-sm-8">
                                <select class="form-control input-sm" name="ParentId" v-model="model.ParentId">
                                    <option v-for="item in all_parent_list" v-bind:value="item.Id">
                                        {{item.Lable}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input type="text" v-model="model.Remarks" name="Remarks"
                                       placeholder="备注"
                                       class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序值：</label>
                            <div class="col-sm-8">
                                <input name="Sort" class="form-control input-sm"
                                       type="number" v-model="model.Sort" placeholder="排序值">
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" onclick="saveDataInfo();" class="btn btn-primary">
                        <i class="fa fa-save"></i>保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 模态框end -->
@section Script
{
    <script src="@(ViewBag.RootNode)/Assets/js/PagerView.js"></script>
    <script src="@(ViewBag.RootNode)/Content/Scripts/SysSet/sysdic.js"></script>
}
