@model dynamic

@{
    ViewBag.Title = "消费统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget widget-body">
    <div class="panel panel-default">
        <form class="panel-body" action="" id="form1">
            <div class="form-inline control-left">
                <label>
                    账户：
                    <select class="form-control input" name="costchannel"
                            v-model="searchModel.costchannel">
                        <option v-for="item in allChannelList" v-bind:value="item.Id">
                            {{item.CostChannelName}}
                        </option>
                    </select>
                </label>
                <label>
                    日期范围：
                    <input type="text"
                           onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}', dateFmt: 'yyyy-MM-dd HH:mm:ss' ,onpicking:function(dp){searchVm.$data.searchModel.starttime=dp.cal.getNewDateStr(); }})"
                           id="logmin" class="form-control Wdate input" style="width: 165px;"
                           name="starttime" v-model="searchModel.starttime">
                    至
                    <input type="text"
                           onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'logmin\')}', maxDate: '%y-%M-%d', dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicking:function(dp){searchVm.$data.searchModel.endtime=dp.cal.getNewDateStr(); } })"
                           id="logmax" class="form-control Wdate input" style="width: 165px;"
                           name="endtime" v-model="searchModel.endtime">
                </label>
                <input type="button" onclick="getAllCanPayInfo();" class="btn btn-success" title="查询" value="查询">

            </div>
        </form>
    </div>

    <div class="row" id="statistical">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption">剩余可支配余额<b class="danger">{{statisticalModel.CanPayAcount}}</b></span>
                </div>
                <div class="widget-body">
                    <div class="form-group">
                        <div style="height: 150px;" id="costPay"></div>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption">消费总额（单位:元）<b class="danger">{{statisticalModel.CostPayAcount}}</b></span>
                </div>
                <div class="widget-body">
                    <div class="form-group">
                        <div class="dropdown-alerts" style="height: 350px;" id="costMonth"></div>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    <span class="widget-caption">消费总额（单位:元）<b class="danger">{{statisticalModel.CostPayAcount}}</b></span>
                </div>
                <div class="widget-body">
                    <div class="form-group">
                        <div class="dropdown-alerts" style="height: 350px;" id="dayCost"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script src="@(ViewBag.RootNode)/Assets/js/My97DatePicker/WdatePicker.js"></script>
    <script src="@(ViewBag.RootNode)/Content/Scripts/Echarts/echarts.js"></script>
    <script src="@(ViewBag.RootNode)/Content/Scripts/CostNote/coststatistical.js"></script>
}
